In [1]:
import os
import sys
sys.path.append('../')

from Codes.model import *
from Codes.utils import *

import pickle

DATA_DIR = "../../Datasets"
RESULT_DIR = "../../DatasetsResult"
DATAINFO_DIR = "../../DatasetsInfo"
RESULTOUT_F_DIR = "../../ResultOutliers"

In [2]:
datasets_list = ['Australian', 'Banknote',   'Codrna', 'Ecoli', 'Iris', 'Mammographic', 'Newthyroid', 'Skinsegment', 
                    'Wallrobot', 'Wine',  'Seeds','Vertebral','Winequality', 'Pendigits', 'blood', 'sepsis', 'balance', 'banana', 'census','shuttle'] 


d_list = ['Australian', 'banknote', 'codrna', 'ecoli', 'Iris', 'mammographic', 'Newthyroid', 'skinsegment', 
                    'wallrobot', 'Wine', 'seeds','vertebral','winequality','pendigits', 'blood', 'sepsis', 'balance', 'banana', 'census','shuttle']

In [3]:

def extractData_Info(datasets_list,d_list ):

    df_data = pd.DataFrame(np.c_[datasets_list, np.zeros((len(datasets_list),3))] ,columns=(['Dataset', 'n','d' ,'k']))


    for i, data in enumerate(d_list):

        df_data.iloc[i,0] = datasets_list[i]

        with open(os.path.join(DATAINFO_DIR, str(data)+'.pkl'), 'rb') as inp:
            n = pickle.load(inp)
            d = pickle.load(inp)
            k = pickle.load(inp)

        df_data.loc[i,'n'] = n
        df_data.loc[i,'d'] = d
        df_data.loc[i,'k'] = k

        # df_data.loc[i,'Data source'] = str('\href{'+data_links[i]+'}{'+data_repo[i]+'}')
    
    return df_data

In [4]:
df_data =  extractData_Info(datasets_list , d_list)
df_data = df_data.sort_values(by=['n'])
print(df_data.to_latex(index=False))

\begin{tabular}{llll}
\toprule
     Dataset &      n &  d &  k \\
\midrule
        Iris &    150 &  4 &  3 \\
        Wine &    178 & 13 &  3 \\
       Seeds &    210 &  7 &  3 \\
  Newthyroid &    215 &  5 &  3 \\
   Vertebral &    310 &  6 &  3 \\
       Ecoli &    336 &  7 &  8 \\
     balance &    625 &  4 &  3 \\
  Australian &    690 & 14 &  2 \\
       blood &    748 &  4 &  2 \\
Mammographic &    830 &  5 &  2 \\
    Banknote &   1372 &  4 &  2 \\
 Winequality &   4898 & 11 &  7 \\
      banana &   5300 &  2 &  2 \\
   Wallrobot &   5456 &  4 &  4 \\
   Pendigits &  10992 & 16 & 10 \\
      census &  48842 & 14 &  2 \\
     shuttle &  58000 &  9 &  7 \\
      Codrna &  59535 &  8 &  2 \\
      sepsis & 129392 &  3 &  2 \\
 Skinsegment & 245057 &  3 &  2 \\
\bottomrule
\end{tabular}

In [5]:

def extractData_ci(datasets_list,d_list ):

    # from turtle import pu


    cols = ['kc-Gon', 'kc-GonAvg', 'kc-HS', 'kmed', 'kmed++', 'Opt-Cg']
    model = ['kcgon', 'kcgonavg', 'kchs', 'km', 'kmplus', 'mmopt']
    allcols = ['data', 'n','d', 'kc-Gon', 'kc-GonAvg', 'kc-HS', 'kmed', 'kmed++', 'Opt-Cg']


    df_ari = pd.DataFrame(np.c_[datasets_list, np.zeros((len(datasets_list),len(cols)+2))] ,columns=allcols)
    df_purity = pd.DataFrame(np.c_[datasets_list, np.zeros((len(datasets_list),len(cols)+2))] ,columns=allcols)
    df_nmi = pd.DataFrame(np.c_[datasets_list, np.zeros((len(datasets_list),len(cols)+2))] ,columns=allcols)
    df_epsVal = pd.DataFrame(np.c_[datasets_list, np.zeros((len(datasets_list),len(cols)+2))] ,columns=allcols)
    df_time = pd.DataFrame(np.c_[datasets_list, np.zeros((len(datasets_list),len(cols)+2))] ,columns=allcols)

    for i, data in enumerate(d_list):

        df_ari.iloc[i,0] = datasets_list[i]

        with open(os.path.join(DATAINFO_DIR, str(data)+'.pkl'), 'rb') as inp:
            n = pickle.load(inp)
            d = pickle.load(inp)
            k = pickle.load(inp)

        df_ari.loc[i,'n'] = n
        df_ari.loc[i,'d'] = d
        # df_ari.loc[i,'k'] = k
        
        df_purity.loc[i,'n'] = n
        df_purity.loc[i,'d'] = d        
        df_nmi.loc[i,'n'] = n
        df_nmi.loc[i,'d'] = d
        df_time.loc[i,'n'] = n
        df_time.loc[i,'d'] = d
        df_epsVal.loc[i,'n'] = n
        df_epsVal.loc[i,'d'] = d
        epsVal = np.zeros((6,1))
        ari = np.zeros((6,1))
        purity = np.zeros((6,1))
        time = np.zeros((6,1))



        with open(os.path.join(RESULT_DIR, str(data)+'.pkl'), 'rb') as inp:


            ari[0] =pickle.load(inp)
            purity[0]=pickle.load(inp)
            nmi_kcgon=pickle.load(inp)
            epsVal[0]=pickle.load(inp)
            centers_kcgon=pickle.load(inp)
            time[0]=pickle.load(inp)

            ari1=pickle.load(inp)
            purity1=pickle.load(inp)
            nmi_result_kcgonavg=pickle.load(inp)
            epsVal1=pickle.load(inp)
            centers_list_gonavg=pickle.load(inp)
            time[1]=pickle.load(inp)

            ari[2]=pickle.load(inp)
            purity[2]=pickle.load(inp)
            nmi_kchs=pickle.load(inp)
            epsVal[2]=pickle.load(inp)
            centers_kchs=pickle.load(inp)
            time[2]=pickle.load(inp)
            
            ari2=pickle.load(inp)
            purity2=pickle.load(inp)
            nmi_result_km=pickle.load(inp)
            epsVal2=pickle.load(inp)
            centers_list_km=pickle.load(inp)
            time[3]=pickle.load(inp)
            
            ari3=pickle.load(inp)
            purity3=pickle.load(inp)
            nmi_result_kmplus=pickle.load(inp)
            epsVal3=pickle.load(inp)
            centers_list_kmplus=pickle.load(inp)
            time[4]=pickle.load(inp)

            ari[5]=pickle.load(inp)
            purity[5]=pickle.load(inp)
            nmi_result_mmopt=pickle.load(inp)
            epsVal[5]=pickle.load(inp)
            centers_mmopt=pickle.load(inp)
            time[5]=pickle.load(inp)
            optgap_mmopt=pickle.load(inp)
            optVal_mmopt=pickle.load(inp)

            epsVal[1] = epsVal1[0]
            epsVal[3] = epsVal2[0]
            epsVal[4] = epsVal3[0]

            ari[1] = ari1[0]
            ari[3] = ari2[0]
            ari[4] = ari3[0]


            purity[1] = purity1[0]
            purity[3] = purity2[0]
            purity[4] = purity3[0]


        for j,mod in enumerate(model):

            df_epsVal.loc[i, cols[j]] = float('{:.1f}'.format(float(np.around(epsVal[j], 3))))
            df_ari.loc[i, cols[j]] = '{:.3f}'.format(float(np.around(ari[j], 3)))
            df_purity.loc[i, cols[j]] = '{:.3f}'.format(float(np.around(purity[j], 3)))
            df_time.loc[i, cols[j]] = '{:.2f}'.format(float(np.around(time[j], 3)))





    return df_ari, df_purity, df_nmi, df_epsVal, df_time

In [6]:

df_ari, df_purity, df_nmi, df_epsVal, df_time =  extractData_ci(datasets_list , d_list)
df_epsVal = df_epsVal.drop(['kmed'], axis=1)
df_time = df_time.drop(['kmed'], axis=1)

df_epsVal = df_epsVal.sort_values(by=['n'])

df_time = df_time.sort_values(by=['n'])

In [8]:
df_epsVal

,data,n,d,kc-Gon,kc-GonAvg,kc-HS,kmed++,Opt-Cg
4,Iris,150,4,3.4,3.6,3.1,3.7,2.3
9,Wine,178,13,462.7,397.0,312.6,473.1,255.6
10,Seeds,210,7,7.6,8.4,7.1,7.3,5.1
6,Newthyroid,215,5,63.1,69.4,66.4,78.1,43.3
11,Vertebral,310,6,223.2,226.2,196.3,464.5,145.7
3,Ecoli,336,7,1.1,1.1,1.0,1.1,0.8
16,balance,625,4,8.0,8.0,7.0,7.4,6.5
0,Australian,690,14,49925.7,50117.1,49048.4,31249.2,25064.3
14,blood,748,4,4269.0,4919.3,4279.0,8240.4,3024.0
5,Mammographic,830,5,49.0,52.9,54.0,57.2,42.0
1,Banknote,1372,4,24.9,29.3,23.3,30.4,18.3
12,Winequality,4898,11,131.5,120.9,103.5,426.7,74.9
17,banana,5300,2,4.6,4.6,4.4,4.4,3.4
8,Wallrobot,5456,4,4.6,4.9,3.8,5.3,3.1
13,Pendigits,10992,16,531.0,527.8,522.0,604.3,517.5
18,census,48842,14,732152.0,658588.3,606000.0,1237579.8,391747.0
19,shuttle,58000,9,5085.0,4846.5,4928.0,9480.8,4318.5
2,Codrna,59535,8,680.0,791.7,653.5,1358.4,482.9
15,sepsis,129392,3,47.0,41.3,38.0,44.2,27.5
7,Skinsegment,245057,3,395.0,389.8,343.0,394.5,318.5

In [9]:
df_time

            data       n   d kc-Gon kc-GonAvg   kc-HS kmed++   Opt-Cg
4           Iris     150   4   0.02      0.01    0.01   0.00     0.62
9           Wine     178  13   0.01      0.01    0.01   0.01     4.40
10         Seeds     210   7   0.01      0.01    0.02   0.00     3.77
6     Newthyroid     215   5   0.01      0.01    0.02   0.00     0.58
11     Vertebral     310   6   0.02      0.02    0.03   0.01     1.65
3          Ecoli     336   7   0.02      0.02    0.03   0.01  2636.84
16       balance     625   4   0.04      0.03    0.05   0.01  7812.59
0     Australian     690  14   0.04      0.04    0.09   0.01     0.11
14         blood     748   4   0.04      0.04    0.08   0.01     0.27
5   Mammographic     830   5   0.06      0.04    0.09   0.02     0.18
1       Banknote    1372   4   0.07      0.07    0.28   0.03     0.80
12   Winequality    4898  11   0.26      0.25    3.08   0.22  7742.57
17        banana    5300   2   0.28      0.28    2.86   0.10     0.56
8      Wallrobot    5456   4   0.29      0.28    2.87   0.12    96.33
13     Pendigits   10992  16   0.60      0.59    9.76   0.67  1208.26
18        census   48842  14   2.62      2.62   14.30   2.05     3.89
19       shuttle   58000   9   3.20      3.17  293.36   2.29  1845.94
2         Codrna   59535   8   3.15      3.17  503.72   1.16     3.83
15        sepsis  129392   3   6.82      6.90   14.53   1.87     7.35
7    Skinsegment  245057   3  12.92     13.17   20.64   4.33    15.12

In [18]:
cols = ['data', 'n', 'd', 'kmed++', 'kc-Gon', 'kc-GonAvg', 'kc-HS',  'Opt-Cg']
df_epsVal  = df_epsVal.loc[:,cols]
df_time  = df_time.loc[:,cols]

In [13]:
df = df_epsVal.set_index('data').T.reset_index()

In [15]:
df1 = df.iloc[:,0:11]
print(df1.to_latex(index=False))

\begin{tabular}{lllllllllll}
\toprule
    index & Iris &   Wine & Seeds & Newthyroid & Vertebral & Ecoli & balance & Australian &   blood & Mammographic \\
\midrule
        n &  150 &    178 &   210 &        215 &       310 &   336 &     625 &        690 &     748 &          830 \\
        d &    4 &     13 &     7 &          5 &         6 &     7 &       4 &         14 &       4 &            5 \\
   kmed++ &  3.7 &  473.1 &   7.3 &       78.1 &     464.5 &   1.1 &     7.4 &    31249.2 &  8240.4 &         57.2 \\
   kc-Gon &  3.4 &  462.7 &   7.6 &       63.1 &     223.2 &   1.1 &     8.0 &    49925.7 &  4269.0 &         49.0 \\
kc-GonAvg &  3.6 &  397.0 &   8.4 &       69.4 &     226.2 &   1.1 &     8.0 &    50117.1 &  4919.3 &         52.9 \\
    kc-HS &  3.1 &  312.6 &   7.1 &       66.4 &     196.3 &   1.0 &     7.0 &    49048.4 &  4279.0 &         54.0 \\
   Opt-Cg &  2.3 &  255.6 &   5.1 &       43.3 &     145.7 &   0.8 &     6.5 &    25064.3 &  3024.0 &         42.0 \\
\bottomrule
\end{tabular}

In [17]:
df2 = df.iloc[:,0]
df2 = pd.concat([df2, df.iloc[:,11:]], axis=1)
print(df2.to_latex(index=False))

\begin{tabular}{lllllllllll}
\toprule
    index & Banknote & Winequality & banana & Wallrobot & Pendigits &     census & shuttle &  Codrna & sepsis & Skinsegment \\
\midrule
        n &     1372 &        4898 &   5300 &      5456 &     10992 &      48842 &   58000 &   59535 & 129392 &      245057 \\
        d &        4 &          11 &      2 &         4 &        16 &         14 &       9 &       8 &      3 &           3 \\
   kmed++ &     30.4 &       426.7 &    4.4 &       5.3 &     604.3 &  1237579.8 &  9480.8 &  1358.4 &   44.2 &       394.5 \\
   kc-Gon &     24.9 &       131.5 &    4.6 &       4.6 &     531.0 &   732152.0 &  5085.0 &   680.0 &   47.0 &       395.0 \\
kc-GonAvg &     29.3 &       120.9 &    4.6 &       4.9 &     527.8 &   658588.3 &  4846.5 &   791.7 &   41.3 &       389.8 \\
    kc-HS &     23.3 &       103.5 &    4.4 &       3.8 &     522.0 &   606000.0 &  4928.0 &   653.5 &   38.0 &       343.0 \\
   Opt-Cg &     18.3 &        74.9 &    3.4 &       3.1 &     517.5 &   391747.0 &  4318.5 &   482.9 &   27.5 &       318.5 \\
\bottomrule
\end{tabular}

In [22]:
cols = ['data', 'n', 'kmed++', 'kc-Gon', 'kc-GonAvg', 'kc-HS',  'Opt-Cg']

df3 = df_time[cols]
print(df3.to_latex(index=False))

\begin{tabular}{lllllll}
\toprule
        data &      n & kmed++ & kc-Gon & kc-GonAvg &  kc-HS &  Opt-Cg \\
\midrule
        Iris &    150 &   0.00 &   0.02 &      0.01 &   0.01 &    0.62 \\
        Wine &    178 &   0.01 &   0.01 &      0.01 &   0.01 &    4.40 \\
       Seeds &    210 &   0.00 &   0.01 &      0.01 &   0.02 &    3.77 \\
  Newthyroid &    215 &   0.00 &   0.01 &      0.01 &   0.02 &    0.58 \\
   Vertebral &    310 &   0.01 &   0.02 &      0.02 &   0.03 &    1.65 \\
       Ecoli &    336 &   0.01 &   0.02 &      0.02 &   0.03 & 2636.84 \\
     balance &    625 &   0.01 &   0.04 &      0.03 &   0.05 & 7812.59 \\
  Australian &    690 &   0.01 &   0.04 &      0.04 &   0.09 &    0.11 \\
       blood &    748 &   0.01 &   0.04 &      0.04 &   0.08 &    0.27 \\
Mammographic &    830 &   0.02 &   0.06 &      0.04 &   0.09 &    0.18 \\
    Banknote &   1372 &   0.03 &   0.07 &      0.07 &   0.28 &    0.80 \\
 Winequality &   4898 &   0.22 &   0.26 &      0.25 &   3.08 & 7742.57 \\
      banana &   5300 &   0.10 &   0.28 &      0.28 &   2.86 &    0.56 \\
   Wallrobot &   5456 &   0.12 &   0.29 &      0.28 &   2.87 &   96.33 \\
   Pendigits &  10992 &   0.67 &   0.60 &      0.59 &   9.76 & 1208.26 \\
      census &  48842 &   2.05 &   2.62 &      2.62 &  14.30 &    3.89 \\
     shuttle &  58000 &   2.29 &   3.20 &      3.17 & 293.36 & 1845.94 \\
      Codrna &  59535 &   1.16 &   3.15 &      3.17 & 503.72 &    3.83 \\
      sepsis & 129392 &   1.87 &   6.82 &      6.90 &  14.53 &    7.35 \\
 Skinsegment & 245057 &   4.33 &  12.92 &     13.17 &  20.64 &   15.12 \\
\bottomrule
\end{tabular}